body {
  direction: rtl;
  width: -webkit-fill-available;
  background-image: url("../img/imgof2.jpg");
  background-size: 100% 1000px;
  min-height: 1000px;
  margin: auto 0;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
header {
  padding: 0 25px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px black;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9;
}
/* .box_s1{
    font-size: 40px;
    cursor: pointer;
} */

.box_s2 {
  font-size: 20px;
  cursor: pointer;
}

.box_a:hover {
  color: aqua;

  transition: 0.3s linear;
}

.burger {
  display: none;
}

.box {
  display: flex;
  align-items: center;
  img {
    width: auto;
    height: 100px;
    margin: 10px 20px;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-fill-available;
  a {
    text-decoration: none;
    color: black;
  }
}

.box_w {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 15px black;
  padding: 15px 30px;
  bottom: 5svh;
  z-index: 9;
  right: -15px;
  /* color: white; */
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  .info-ico {
    display: flex;
  }
  img {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    margin: 10px;
  }
  img:hover {
    scale: 1.1;
    transition: 0.3s scale linear;
  }
}

.box_main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tital {
  text-align: center;
  max-width: 1200px;
  text-shadow: 0 0 12px black;

  h1 {
    font-size: 100px;
    color: white;
  }

  h2 {
    font-size: 50px;
    color: white;
  }
}

.box_doing {
  width: 100%;
  min-height: 700px;
  background: white;
  text-align: center;
  justify-content: space-evenly;

  h4 {
    margin: 80px 0;
    font-size: 50px;
  }
}
.box_d_2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 150px;
  img {
    height: 100%;
    border-radius: 30px;
  }
}
.box_d_1 {
  position: relative;
  width: max(250px, 350px);
  border-radius: 10px;
  box-shadow: black 10px 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding: 45px 35px;
  margin-bottom: 80px;

  &:hover {
    transition: 0.3s scale linear;
    scale: 1.1;
  }
  h2 {
    span {
      position: absolute;
      right: -5px;
      i {
        font-size: 24px;
      }
    }
  }
  .info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      height: 60px;
      padding: 0 15px;
    }
    h5 {
      margin-top: 15px;
    }
  }
}

.box_about_us {
  background: white;
  align-items: center;
  text-align: center;
  background-image: url("../img/imgof2.jpg");
  background-size: 100%;
  background-position: center;
  margin: auto 0;
  background-repeat: no-repeat;
  padding: 100px 0;
  h1 {
    font-size: 72px;
    color: white;
    text-shadow: 0 0 15px black;
    margin-bottom: 80px;
  }
}

.box_a1 {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.box_a2 {
  /* border: 2px solid black; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(240, 248, 255, 0.8);

  h3 {
    font-size: 40px;

    padding-top: 20px;
  }

  p {
    font-size: 25px;
    padding-top: 20px;
  }
}

.box_a3 {
  width: 500px;
  height: 450px;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: url("../img/profil.jpg");
  background-size: cover;
  background-position: 80%;
}

.box_skill {
  background: white;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  text-align: center;
  padding: 100px 0 0 0;
}

.box_s10 {
  max-width: 1200px;
  margin: 80px;
  justify-content: center;

  div {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 60px;
    color: black;
    margin-bottom: 60px;
  }
}

.box_s20 {
  max-width: 500px;
  min-height: 350px;
  background-color: rgba(240, 248, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 30px;

    padding-top: 20px;
  }

  p {
    font-size: 20px;
    padding-top: 20px;
  }
}

.box_s30 {
  max-width: 500px;
  min-height: 350px;
  /* border: 2px solid black; */
  background-image: url("../img/imgof10.jpg");
  background-size: cover;

  /* border-radius: 10px; */
  /* margin-top: 50px; */
  /* align-items: center; */
  h3 {
    font-size: 30px;

    padding-top: 20px;
  }

  p {
    font-size: 20px;
    padding-top: 20px;
  }
}
.box_s40 {
  max-width: 500px;
  min-height: 350px;
  /* border: 2px solid black; */
  background-image: url("../img/imgof8.jpg");
  background-size: 100% 350px;

  /* border-radius: 10px; */
  /* margin-top: 50px; */
  /* align-items: center; */
  h3 {
    font-size: 30px;

    padding-top: 20px;
  }

  p {
    font-size: 20px;
    padding-top: 20px;
  }
}
.box_s50 {
  max-width: 500px;
  min-height: 350px;
  /* border: 2px solid black; */
  background-image: url("../img/office.jpg");
  background-size: cover;

  /* border-radius: 10px; */
  /* margin-top: 50px; */
  /* align-items: center; */
  h3 {
    font-size: 30px;

    padding-top: 20px;
  }

  p {
    font-size: 20px;
    padding-top: 20px;
  }
}
.box_s60 {
  max-width: 500px;
  min-height: 350px;
  /* border: 2px solid black; */
  background-image: url("../img/ac\ home\ \(2\).jpg");
  background-size: cover;

  /* border-radius: 10px; */
  /* margin-top: 50px; */
  /* align-items: center; */
  h3 {
    font-size: 30px;

    padding-top: 20px;
  }

  p {
    font-size: 20px;
    padding-top: 20px;
  }
}

.box_carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-image: url("../img/imgof2.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 0 0;
  h1 {
    font-size: 60px;
    color: white;
    text-shadow: 0 0 15px black;
    margin: 50px;
  }
}

.box_car {
  img {
    margin: 0 auto;
    height: 400px;
    border-radius: 15px;
  }
  h2 {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 15px black;
    margin-bottom: 80px;
  }
}
.carousel-inner {
  width: 90vw;
}
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.603);
  height: 50px;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 10%;
  width: 50px;
}

.carousel-control-prev {
  background-color: rgba(0, 0, 0, 0.603);
  height: 50px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 10%;
  width: 50px;
}

.box_footer {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 15px black;

  h1 {
    font-size: 40px;

    margin: 50px;
  }
}

.box_f10 {
  min-height: 400px;
  /* border: 2px solid black; */
  margin: 50px;
  justify-content: center;

  /* justify-content: space-between; */
  h1 {
    font-size: 40px;

    margin: 50px;
  }
}

.box_f20 {
  max-width: 600px;
  min-height: 350px;
  text-align: right;
  /* border: 2px solid black; */

  h3 {
    font-size: 30px;
    padding-top: 20px;
  }

  p {
    font-size: 30px;
    padding-top: 20px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    scale: 1.1;
    color: gray;
    /* צבע הלינק כאשר מעבירים עליו את העכבר */
  }
}

.box_f30 {
  max-width: 500px;
  /* border: 2px solid black; */

  h3 {
    font-size: 30px;
    padding-top: 20px;
  }

  p {
    font-size: 30px;
    padding-top: 20px;
  }
}

.box_f_img {
  img {
    width: 400px;
    margin-bottom: 20px;
  }
}
.box5 {
  background: black;
  text-align: center;
  margin: 0;
  min-height: 50px;
  padding: 10px;

  h4 {
    color: white;
    text-decoration: none;
  }

  i {
    color: white;
    font-size: 40px;
  }
}
.accessibility {
  min-height: 500px;
  background: white;
  text-align: center;
  padding: 35px;
  p {
    font-size: 22px;
    text-align: right;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 100% 600px;
  }
  header {
    display: block;
    padding: 0;
  }
  .box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px black;
    position: relative;
    z-index: 9;
    img {
      height: 100px;
    }
  }

  nav {
    display: none;
    position: absolute;
    background: rgba(192, 192, 192);
  }

  nav a {
    display: block;
  }

  .burger {
    display: block;
    position: absolute;
    right: 10%;

    i {
      font-size: 40px;
    }
  }

  .box_s1 {
  }

  .box_s2 {
    width: 100%;
    padding: 25px;
    z-index: 4;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
  }

  .box_w {
    img {
      width: 50px;
    }
  }

  .box_main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tital {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;

    h1 {
      font-size: 70px;
      color: white;
    }

    h2 {
      font-size: 40px;
      color: white;
    }
  }

  .box_doing {
    width: 100%;
    min-height: 700px;
    background: white;
    text-align: center;
    justify-content: center;

    h4 {
      margin-top: 100px;
      font-size: 50px;
    }
  }

  .box_d_1 {
    border: 0;
    box-shadow: black 10px 10px 15px;
    border-radius: 10px;
    margin: 20px;

    i {
      font-size: 50px;
    }
  }

  .box_d_2 {
  }

  .box_about_us {
    margin: 50px 0;
    background-size: cover;
  }

  .box_a1 {
    flex-direction: column-reverse;
  }

  .box_a2 {
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid black;
    h3 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
      padding-top: 18px;
    }
  }

  .box_a3 {
    background-image: url("../img/profil.jpg");
    background-size: cover;
    width: unset;
    height: 300px;
    border: 1px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .box_s10 {
    margin: 10px;
  }

  .box_s30 {
    display: none;
  }
  .box_s40 {
    display: none;
  }
  .box_s50 {
    display: none;
  }
  .box_s60 {
    display: none;
  }

  .box_carousel {
    padding: unset;

    h1 {
      font-size: 40px;

      margin: 50px;
    }
  }
  .box_car {
    img {
      margin: 0 auto;
      height: 300px;
      border-radius: 15px;
    }
    h2 {
      font-size: 40px;
      color: white;
      text-shadow: 0 0 15px black;
      margin-bottom: 80px;
    }
  }
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.603);
    height: 50px;
    transform: translate(-50%, -50%);
    top: 50%;
    right: -11%;
    width: 50px;
  }

  .carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.603);
    height: 50px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 0;
    width: 50px;
  }

  .box_car {
    min-height: 300px;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    img {
      /* border-radius: 20px; */
      /* margin: 20px; */
      max-height: 350px;
    }
    h2 {
      font-size: 30px;
    }
  }
  .box_footer {
    max-width: 768px;
    min-height: 500px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 40px;

      margin: 50px;
    }
  }

  .box_f10 {
    min-height: 400px;
    /* border: 2px solid black; */
    margin: 50px;
    justify-content: center;

    /* justify-content: space-between; */
    h1 {
      font-size: 40px;

      margin: 50px;
    }
  }

  .box_f20 {
    max-width: 280px;
    min-height: 350px;
    text-align: right;
    /* border: 2px solid black; */

    h3 {
      font-size: 30px;
      padding-top: 20px;
    }

    p {
      font-size: 30px;
      padding-top: 20px;
    }

    a {
      color: black;
      text-decoration: none;
    }
  }

  .box_f30 {
    max-width: 280px;
    /* border: 2px solid black; */

    h3 {
      font-size: 30px;
      padding-top: 20px;
    }

    p {
      font-size: 30px;
      padding-top: 20px;
    }
  }

  .box_f_img {
    max-height: 250px;
    /* border: 2px solid black; */

    img {
      width: 200px;
      max-height: 200px;
    }
  }
}

@media (max-width: 470px) {
  .tital {
    h1 {
      font-size: 13vw;
    }
    h2 {
      font-size: 10vw;
    }
  }
  .box_carousel {
    background-size: cover;

    h1 {
      font-size: 10vw;
    }
  }
  .box_car {
    img {
      margin: 0 auto;
      height: 200px;
      border-radius: 15px;
    }
    h2 {
      font-size: 24px;
      color: white;
      text-shadow: 0 0 15px black;
      margin-bottom: 80px;
    }
  }
  .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.603);
    height: 50px;
    transform: translate(-50%, -50%);
    top: 30%;
    right: -14%;
    width: 50px;
  }

  .carousel-control-prev {
    background-color: rgba(0, 0, 0, 0.603);
    height: 50px;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 0;
    width: 50px;
  }
  .box_w {
    transform: scale(0.7);
    right: -11%;
  }
  .box_main {
    .box_doing {
      padding: 0 15px;
      h4 {
        margin-top: 60px;
        margin-bottom: 0px;
        font-size: 10vw;
      }
    }
    .box_d_1 {
      margin: unset;
      border: 0;
      box-shadow: black 10px 10px 15px;
      margin-top: 30px;
    }
    .box_d_1:hover {
      scale: 1;
    }
    .box_d_2 {
      height: 200px;
    }
    .info {
      padding: 0 15px;
      h5 {
        padding: unset;
        margin-top: 5px;
      }
    }
  }
  .box_skill {
    padding: 0;
    h1 {
      font-size: 10vw;
    }
  }
  .box_footer {
    width: unset;
    height: unset;
    .box_f20 {
      min-height: unset;
    }

    .box_f10 {
      margin: unset;
      min-height: unset;
      width: -webkit-fill-available;
      h1 {
        margin: 30px 0;
      }
    }
    p {
      font-size: 5vw;
    }
  }
}
